<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-LuxuryShop-c147265d-b4d9-4ad9-a955-7a14b283a16e;AttachDbFilename=|DataDirectory|\aspnet-LuxuryShop-c147265d-b4d9-4ad9-a955-7a14b283a16e.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="DataBase" connectionString="Data Source=.;Initial Catalog = Luxury;Trusted_Connection=true;" />

  </connectionStrings>

  <appSettings>
    
    <add key="DataBase1" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Luxury.mdf;Integrated Security=True" />
    <add key="DataBase" value="Data Source=(local);Initial Catalog=Luxury;Uid=wh;Pwd=wh" />
    <add key="DataBase2" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\admin\source\repos\LuxuryShop\LuxuryShop\App_Data\Luxury.mdf;Integrated Security=True" />
    <!--0:Only messages of the system, 1:DB messages-->
    <add key="DataBaseErr" value="1" />
    <!--Path of files-->
    <add key="defaultPhoto" value="nophoto.jpg" />
    <add key="dirPhotoDevelop" value="/Images/products" />
    <add key="dirPhoto" value="/Images/products" />   <!--http://localhost/LuxuryShop/Images/products-->
    <add key="dirSavePhoto" value="images\Products\" />
    <!--Pages to rededirec-->
    <add key="pagDefaultM" value="default.aspx" />
    <add key="pagDefault" value="Index.aspx" />
    <add key="pagLoginM" value="/Account/Login.aspx" />
    <add key="pagLogin" value="Login.aspx" />
    <add key="pagError" value="Oops.aspx" />
    <add key="pagInvoiceError" value="../OopsFactura.aspx" />
    <!--Cookies and attributes-->
    <add key="cookUser" value="User" />
    <add key="sessionUser" value="IdUser" />
    <add key="cookClient" value="Client" /> 
    <add key="cookUserAttr" value="Name" />
    <add key="cookDateCreate" value="2028-12-31" />
    <add key="sessionClient" value="IdClient" />
    <add key="stateCliente" value="state" />
    <add key="cookAddrClient" value="addrClient" />
    <add key="cookClientVisit" value="Visit" />
    <!--0:Without Validation, 1:With Validation--> 
    <add key="Authentication" value="1" />
    <add key="EncryptClient" value="896B5132-00A4-4E1F-BCF7-E8178FC39A30" />
    <add key="Passkey" value="Pa$w0rd77" />
    <add key="usrAccountAuth" value=".ASPXAUTH" />
    <!--Size of lists:--> 
    <add key="pagSizeCli" value="10" />
    <add key="topVisitors" value="10" />
  </appSettings>


  <location path="Account">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  <location path="error">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Bundles">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Content">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  <location path="styles">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location> 
  <location path="Website">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>

  <location path="index.aspx">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  <location path="client.master">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  
  <system.web>
    <!--<authentication mode="None" />        -->
  <authentication mode="Forms" />
    <!--   <forms loginUrl="~/Account/401.aspx" name=".ASPNETAUTH" protection="None" path="/" timeout="20" >
      </forms>
    </authentication>          -->
     <authorization>
      <deny users="?" />
    </authorization>        <!--       -->
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
	      ASP.NET Membership is disabled in this template. Please visit the following link https://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
	      ASP.NET Membership Profile is disabled in this template. Please visit the following link https://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
	        ASP.NET Membership Role is disabled in this template. Please visit the following link https://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState> 
    
    <customErrors mode="On" defaultRedirect="~/Oops.aspx" >      
      <error statusCode="401" redirect="~/Account/401.aspx" />      
      <error statusCode="403" redirect="~/Error/403.aspx" />      
      <error statusCode="404" redirect="~/Error/404.aspx" />
      <error statusCode="500" redirect="~/Error/500.aspx" />
      <error statusCode="501" redirect="~/Oops.aspx" />
    </customErrors>    

      <siteMap>
      <providers>
        <add name="MySiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/WebH.sitemap"/>
      </providers>
    </siteMap>
  
    
    
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
   
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>