USE MASTER

IF EXISTS(SELECT * FROM SYS.DATABASES WHERE NAME = 'LUXURY') 
DROP DATABASE LUXURY

CREATE DATABASE LUXURY
GO

USE [Luxury]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UserWeb', @level2type=N'COLUMN',@level2name=N'state'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UserWeb', @level2type=N'COLUMN',@level2name=N'type'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'payType'

GO
ALTER TABLE [dbo].[Visit] DROP CONSTRAINT [FK_Visit_UserWeb]
GO
ALTER TABLE [dbo].[ResetPasswordRequests] DROP CONSTRAINT [FK_ResetPasswordRequests_UserWeb]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[OrderDetail] DROP CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[OrderDetail] DROP CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[Order] DROP CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[CarItem] DROP CONSTRAINT [FK_CarItem_UserWeb]
GO
ALTER TABLE [dbo].[CarItem] DROP CONSTRAINT [FK_CarItem_Product]
GO
/****** Object:  Table [dbo].[Visit]    Script Date: 4/13/2021 1:06:20 PM ******/
DROP TABLE [dbo].[Visit]
GO
/****** Object:  Table [dbo].[UserWeb]    Script Date: 4/13/2021 1:06:20 PM ******/
DROP TABLE [dbo].[UserWeb]
GO
/****** Object:  Table [dbo].[ResetPasswordRequests]    Script Date: 4/13/2021 1:06:20 PM ******/
DROP TABLE [dbo].[ResetPasswordRequests]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 4/13/2021 1:06:20 PM ******/
DROP TABLE [dbo].[Product]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 4/13/2021 1:06:20 PM ******/
DROP TABLE [dbo].[OrderDetail]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 4/13/2021 1:06:20 PM ******/
DROP TABLE [dbo].[Order]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 4/13/2021 1:06:20 PM ******/
DROP TABLE [dbo].[Category]
GO
/****** Object:  Table [dbo].[CarItem]    Script Date: 4/13/2021 1:06:20 PM ******/
DROP TABLE [dbo].[CarItem]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_UPD_Pass_User]    Script Date: 4/13/2021 1:06:20 PM ******/
DROP PROCEDURE [dbo].[Sproc_UPD_Pass_User]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_ResetPassword]    Script Date: 4/13/2021 1:06:20 PM ******/
DROP PROCEDURE [dbo].[Sproc_ResetPassword]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_CRUD_Visit]    Script Date: 4/13/2021 1:06:20 PM ******/
DROP PROCEDURE [dbo].[Sproc_CRUD_Visit]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_CRUD_User]    Script Date: 4/13/2021 1:06:20 PM ******/
DROP PROCEDURE [dbo].[Sproc_CRUD_User]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_CRUD_Product]    Script Date: 4/13/2021 1:06:20 PM ******/
DROP PROCEDURE [dbo].[Sproc_CRUD_Product]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_CRUD_OrderDetail]    Script Date: 4/13/2021 1:06:20 PM ******/
DROP PROCEDURE [dbo].[Sproc_CRUD_OrderDetail]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_CRUD_Order]    Script Date: 4/13/2021 1:06:20 PM ******/
DROP PROCEDURE [dbo].[Sproc_CRUD_Order]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_CRUD_Category]    Script Date: 4/13/2021 1:06:20 PM ******/
DROP PROCEDURE [dbo].[Sproc_CRUD_Category]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_CRUD_CarItem]    Script Date: 4/13/2021 1:06:20 PM ******/
DROP PROCEDURE [dbo].[Sproc_CRUD_CarItem]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_CRUD_CarItem]    Script Date: 4/13/2021 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/************************************************************************************************************
 * Developer: William Martin
 * Last modification: 03/19/2021
 * Store Proc name: [Sproc_CRUD_CarItem] 
 * Store Proc: Store Procedure used to manage data persistence (Insert, Update, Delete) in the CarItem table.
 * Company: AIS - NZ
 * */

CREATE PROCEDURE [dbo].[Sproc_CRUD_CarItem]
	@IdCarItem int,	
	@IdUser int,				     
	@IdProduct int,	
	@quantity int,	
	@price varchar(20),		
	@oper char(3),		
	@P_Mensaje    nchar(300) output
AS

BEGIN
	
SET NOCOUNT ON;
DECLARE @sqlStr varchar(200)
DECLARE @sqlSetStr varchar(50)
DECLARE @Id_CarItem int,@typeCard int
BEGIN TRY
 SET @P_Mensaje = '0'
	Begin Tran	

	IF(@oper='INS')
	 BEGIN
	    SELECT @Id_CarItem=I.IdCarItem FROM CarItem I WHERE I.IdUser=@IdUser and I.IdProduct=@IdProduct
		IF(@Id_CarItem>0)
		  Update I  SET [quantity]= [quantity]+@quantity
			FROM CarItem I WHERE I.IdCarItem=@Id_CarItem	

		ELSE
		  BEGIN
		    SELECT @typeCard= (ABS(CHECKSUM(NEWID()) % 3) + 1)
		    INSERT INTO CarItem ([IdUser],[quantity],[IdProduct],[price])
			 VALUES
             (@IdUser ,@quantity,@IdProduct,(select iif(price>discount and discount>0,discount, price) from product
where IdProduct=@IdProduct) )
			 SELECT @Id_CarItem= max(IdCarItem) FROM CarItem I WHERE I.IdUser=@IdUser
			 SET @P_Mensaje = '0;'+CONVERT(varchar(10),@Id_CarItem)
		  END
	 END
	 
	ELSE IF(@oper='UPD')
	 BEGIN	    
		  Update I  SET [quantity]= @quantity
			FROM CarItem I WHERE I.IdCarItem=@IdCarItem			
	 END

    ELSE IF(@oper='REM')
	    BEGIN
	       Update I  SET [quantity]= [quantity]-@quantity
			FROM CarItem I WHERE I.IdUser=@IdUser and I.IdProduct=@IdProduct
		END
	ELSE IF(@oper='DEL')
	    BEGIN
	      DELETE FROM CarItem WHERE IdCarItem=@IdCarItem		
		END	
	ELSE IF(@oper='DRO')
	    BEGIN
	      DELETE FROM CarItem WHERE IdUser=@IdUser
		END	

	 Commit Tran
END TRY 
BEGIN CATCH 
	 SET @P_Mensaje = '-1;' + ERROR_MESSAGE()
	 Rollback Tran
END CATCH		
Return
END
GO
/****** Object:  StoredProcedure [dbo].[Sproc_CRUD_Category]    Script Date: 4/13/2021 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***********************************************************************************************************
 * Developer: William Martin
 * Last modification: 03/19/2021
 * Store Proc name: Sproc_CRUD_Category 
 * Function: Store Procedure used to manage data persistence (Insert, Update, Delete) in the Category table.
 * Company: AIS - NZ
 * */

CREATE PROCEDURE [dbo].[Sproc_CRUD_Category]
	@IdCategory int,			     
	@name varchar(100),		
	@oper char(3),		
	@P_Mensaje    nchar(300) output
AS

BEGIN
	
SET NOCOUNT ON;
DECLARE @sqlStr varchar(200)
DECLARE @sqlSetStr varchar(50)
DECLARE @Id_Category int
BEGIN TRY
 SET @P_Mensaje = '0'
	Begin Tran	

	IF(@oper='INS')
	 BEGIN
	    SELECT @Id_Category=U.IdCategory FROM Category U WHERE U.name=@name 
		IF(@Id_Category>0)
		  BEGIN	 
		   RAISERROR('Category with name already used, please change it. Operation not performed.', 16, 1)
		   RETURN
		  END

		ELSE
		  BEGIN
		    INSERT INTO Category ([name])
			 VALUES
             (@name)
			 SELECT @Id_Category= max(IdCategory) FROM Category U WHERE U.name=@name
			 SET @P_Mensaje = '0;'+CONVERT(varchar(10),@Id_Category)
		  END
	 END

	ELSE IF(@oper='UPD')
	 BEGIN
	    SELECT @Id_Category=U.IdCategory FROM Category U WHERE U.name=@name and U.IdCategory<>@IdCategory
		IF(@Id_Category>0)
		  BEGIN	 
		   RAISERROR('Category with name already used, please change them. Operation not performed.', 16, 1)
		   RETURN
		  END

		ELSE
		  BEGIN
		    Update U  SET [name]=@name
			FROM Category U WHERE U.IdCategory=@IdCategory	
			SET @P_Mensaje = '0;'	 
		  END
	 END

	 ELSE IF(@oper='DEL')
	    BEGIN
	      DELETE FROM Category  WHERE IdCategory=@IdCategory
		END	

	 Commit Tran
END TRY 
BEGIN CATCH 
	 SET @P_Mensaje = '1;' + ERROR_MESSAGE()
	 Rollback Tran
END CATCH		
Return
END
GO
/****** Object:  StoredProcedure [dbo].[Sproc_CRUD_Order]    Script Date: 4/13/2021 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/***********************************************************************************************************
 * Developer: William Martin
 * Last modification: 03/19/2021
 * Store Proc name: Sproc_CRUD_Order 
 * Function: Store Procedure used to manage data persistence (Insert, Update, Delete) in the Order table.
 * Company: AIS - NZ
 * */

CREATE PROCEDURE [dbo].[Sproc_CRUD_Order]
	@IdOrder int,	
	@IdUser int,	
	@value varchar(15),
	@oper char(3),		
	@P_Mensaje    nchar(300) output
AS

BEGIN
	
SET NOCOUNT ON;
DECLARE @sqlStr varchar(200)
DECLARE @sqlSetStr varchar(50)
DECLARE @Id_Order int
DECLARE @address varchar(20)
DECLARE @IdProduct int
DECLARE @quantity int
DECLARE @price decimal
declare @randomString varchar(15)
BEGIN TRY
 SET @P_Mensaje = '0'
	Begin Tran	

	IF(@oper='INS')
	 BEGIN
			SELECT @randomString = CONVERT(varchar(255), NEWID()) 
			SELECT @address = address from UserWeb where IdUser=@IdUser
		    INSERT INTO [Order] ([IdUser],[value],[address],[voucher],[payType])
			 VALUES
             (@IdUser, @value,@address,@randomString,(SELECT(ABS(CHECKSUM(NEWID()) % 5) + 1)))
			 SELECT @Id_Order= max(IdOrder) FROM [Order] o WHERE o.IdUser=@IdUser
			 SET @P_Mensaje = '0;'+CONVERT(varchar(10),@Id_Order)
			 DECLARE UC1 CURSOR READ_ONLY FOR SELECT IdProduct,quantity,price FROM CarItem WHERE IdUser=@IdUser
             OPEN UC1
                FETCH UC1 INTO @IdProduct,@quantity,@price
                  WHILE (@@FETCH_STATUS=0)
                    BEGIN 
                             
                      Insert into [OrderDetail] (IdOrder, IdProduct,quantity,price) values(@Id_Order,@IdProduct,@quantity,@price)

                 FETCH UC1 INTO @IdProduct,@quantity,@price
                      END 
               CLOSE UC1
               DEALLOCATE UC1 Update [Order]  set value=(select SUM(quantity*price) FROM CarItem where IdUser=@IdUser)
			   where idOrder=@Id_Order              
			   DELETE FROM CARITEM WHERE IDUSER=@IdUser
		 
	 END

	ELSE IF(@oper='UPD')
	 BEGIN
		    DELETE FROM [OrderDetail]  WHERE IdOrder=@IdOrder

			Update o  SET [IdUser]=@IdUser,[value]=@value
			FROM [Order] o WHERE o.IdOrder=@IdOrder	
			SET @P_Mensaje = '0;'	 
		 
	 END

	 ELSE IF(@oper='DEL')
	    BEGIN
	      DELETE FROM [OrderDetail]  WHERE IdOrder=@IdOrder
		  
		  DELETE FROM [Order]  WHERE IdOrder=@IdOrder
		END	

	 Commit Tran
END TRY 
BEGIN CATCH 
	 SET @P_Mensaje = '-1;' + ERROR_MESSAGE()
	 Rollback Tran
END CATCH		
Return
END
GO
/****** Object:  StoredProcedure [dbo].[Sproc_CRUD_OrderDetail]    Script Date: 4/13/2021 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/***********************************************************************************************************
 * Developer: William Martin
 * Last modification: 03/19/2021
 * Store Proc name: Sproc_CRUD_OrderDetail 
 * Function: Store Procedure used to manage data persistence (Insert, Update, Delete) in the OrderDetail table.
 * Company: AIS - NZ
 * */

CREATE PROCEDURE [dbo].[Sproc_CRUD_OrderDetail]
	@IdOD int,	
	@IdOrder int,		
	@IdOrderDetail int,	
	@IdProduct int,	
	@quantity varchar(10),
	@price varchar(15),
	@oper char(3),		
	@P_Mensaje    nchar(300) output
AS

BEGIN
	
SET NOCOUNT ON;
DECLARE @sqlStr varchar(200)
DECLARE @sqlSetStr varchar(50)
DECLARE @Id_OrderDetail int
BEGIN TRY
 SET @P_Mensaje = '0'
	Begin Tran	

	IF(@oper='INS')
	 BEGIN
	   
		    INSERT INTO OrderDetail ([IdOD],[IdOrder],[IdProduct],[quantity],[price])
			 VALUES
             (@IdOD, @IdOrder, @IdProduct,  @quantity, @price)
			 SELECT @Id_OrderDetail= max(IdOD) FROM OrderDetail U WHERE U.IdOrder=@IdOrder
			 SET @P_Mensaje = '0;'+CONVERT(varchar(10),@Id_OrderDetail)
		 
	 END

	ELSE IF(@oper='UPD')
	 BEGIN
	    
		    Update U  SET [quantity]=@quantity,[price]=@price 
			FROM OrderDetail U WHERE U.IdOD=@IdOrderDetail	
			SET @P_Mensaje = '0;'	 
		 
	 END

	 ELSE IF(@oper='DEL')
	    BEGIN
	      DELETE FROM OrderDetail  WHERE IdOD=@IdOrderDetail
		END	

	 Commit Tran
END TRY 
BEGIN CATCH 
	 SET @P_Mensaje = '-1;' + ERROR_MESSAGE()
	 Rollback Tran
END CATCH		
Return
END
GO
/****** Object:  StoredProcedure [dbo].[Sproc_CRUD_Product]    Script Date: 4/13/2021 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/***********************************************************************************************************
 * Developer: William Martin
 * Last modification: 03/19/2021
 * Store Proc name: Sproc_CRUD_Product 
 * Function: Store Procedure used to manage data persistence (Insert, Update, Delete) in the Product table.
 * Company: AIS - NZ
 * */

CREATE PROCEDURE [dbo].[Sproc_CRUD_Product]
	@IdProduct int,	
	@IdCategory int,		     
	@name varchar(100),	
	@stock int,		 
	@color varchar(30),			 
	@brand varchar(40),     
	@size varchar(20) ,		 
	@photo nvarchar(50),	
	@photoD nvarchar(50),	
	@price varchar(15),
	@discount varchar(15),
	@monthDcto int,
	@oper char(3),		
	@P_Mensaje    nchar(300) output
AS

BEGIN
	
SET NOCOUNT ON;
DECLARE @sqlStr varchar(200)
DECLARE @sqlSetStr varchar(50)
DECLARE @Id_Product int
BEGIN TRY
 SET @P_Mensaje = '0'
	Begin Tran	

	IF(@oper='INS')
	 BEGIN
	    SELECT @Id_Product=U.IdProduct FROM Product U WHERE U.name=@name and U.brand=@brand and U.size=@size 
		IF(@Id_Product>0)
		  BEGIN	 
		   RAISERROR('Product with brand and size already used, please change them. Operation not performed.', 16, 1)
		   RETURN
		  END

		ELSE
		  BEGIN
		    INSERT INTO Product ([IdCategory],[name],[stock],[color],[brand],[size],[photo],[photoD],[price],[discount],[monthDcto])
			 VALUES
             (@IdCategory,@name,  @stock,  @color,  @brand,  @size,  @photo,@photoD, @price,@discount,@monthDcto)
			 SELECT @Id_Product= max(IdProduct) FROM Product U WHERE U.size=@size
			 SET @P_Mensaje = '0;'+CONVERT(varchar(10),@Id_Product)
		  END
	 END

	ELSE IF(@oper='UPD')
	 BEGIN
	    SELECT @Id_Product=U.IdProduct FROM Product U WHERE U.name=@name and U.brand=@brand and U.size=@size and U.IdProduct<>@IdProduct
		IF(@Id_Product>0)
		  BEGIN	 
		   RAISERROR('Product with brand and size already used, please change them. Operation not performed.', 16, 1)
		   RETURN
		  END

		ELSE
		  BEGIN
		    Update U  SET [IdCategory]=@IdCategory,[stock]=@stock,[name]=@name,[color]=@color,[brand]=@brand,[size]=@size,[photo]=@photo,
			[photoD]=@photoD,[price]=@price,[discount]=@discount,[date]=getdate(),[monthDcto]=@monthDcto
			FROM Product U WHERE U.IdProduct=@IdProduct	
			SET @P_Mensaje = '0;'	 
		  END
	 END

	 ELSE IF(@oper='DEL')
	    BEGIN
	      DELETE FROM Product  WHERE IdProduct=@IdProduct
		END	

	 Commit Tran
END TRY 
BEGIN CATCH 
	 SET @P_Mensaje = '1;' + ERROR_MESSAGE()
	 Rollback Tran
END CATCH		
Return
END
GO
/****** Object:  StoredProcedure [dbo].[Sproc_CRUD_User]    Script Date: 4/13/2021 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/***********************************************************************************************************
 * Developer: William Martin
 * Last modification: 03/19/2021
 * Store Proc name: Sproc_CRUD_User 
 * Function: Store Procedure used to manage data persistence (Insert, Update, Delete) in the UserWeb table.
 * Company: AIS - NZ
 * */

CREATE PROCEDURE [dbo].[Sproc_CRUD_User]
	@IdUser int,		 
	@type char(10),		     
	@name varchar(60),		 
	@lastName varchar(60),			 
	@email varchar(80),     
	@phone nchar(15) ,		 
	@address varchar(10),	
	@pass varchar(60),	
	@state varchar(10),
	@salt varchar(36),
	@passkey varchar(20),
	@oper char(3),		
	@P_Mensaje    nchar(300) output
AS

BEGIN
	
SET NOCOUNT ON;
DECLARE @sqlStr varchar(200)
DECLARE @sqlSetStr varchar(50)
DECLARE @Id_User int

BEGIN TRY
 SET @P_Mensaje = '0'
	Begin Tran	

	IF(@oper='INS')
	 BEGIN
	    SELECT @Id_User=U.IdUser FROM UserWeb U WHERE (U.phone=@phone AND U.email=@email) or U.email=@email
		IF(@Id_User>0)
		  BEGIN	 
		   RAISERROR('Phone or E-mail already used, please change them. Operation not performed.', 16, 1)
		   RETURN
		  END

		ELSE
		  BEGIN
		    INSERT INTO UserWeb ([type],[name],[lastName],[email],[phone],[address],[state],[pass],[date])
			 VALUES
             (@type,  @name,  @lastName,  @email,  @phone, @address,@state, HASHBYTES('SHA2_512', @pass+CAST(@salt AS NVARCHAR(36))), getdate())
			 SELECT @Id_User= max(IdUser) FROM UserWeb U WHERE U.phone=@phone
			 SET @P_Mensaje = '0;'+CONVERT(varchar(10),@Id_User)
		  END
	 END

	ELSE IF(@oper='UPD')
	 BEGIN
	    SELECT @Id_User=U.IdUser FROM UserWeb U WHERE U.phone=@phone and U.IdUser<>@IdUser
		IF(@Id_User>0)
		  BEGIN	 
		   RAISERROR('Phone already used. Operation not performed.', 16, 1)
		   RETURN
		  END

		ELSE
		  BEGIN
		    UPDATE U  SET [type]=@type,[name]=@name,[lastName]=@lastName,[email]=@email,[phone]=@phone,[address]=@address,[state]=@state			
			FROM UserWeb U WHERE U.IdUser=@IdUser	

			IF(@pass!=@passkey)
			  BEGIN
				 UPDATE U  SET [pass]=HASHBYTES('SHA2_512', @pass+CAST(@salt AS NVARCHAR(36)))
				 FROM UserWeb U WHERE U.IdUser=@IdUser	
		      END
			SET @P_Mensaje = '0;'	 
		  END
	 END

	 ELSE IF(@oper='DEL')
	    BEGIN
		  DELETE FROM Visit  WHERE IdUser=@IdUser
	      DELETE FROM UserWeb  WHERE IdUser=@IdUser
		END	

	 Commit Tran
END TRY 
BEGIN CATCH 
	 SET @P_Mensaje = '1;' + ERROR_MESSAGE()
	 Rollback Tran
END CATCH		
Return
END
GO
/****** Object:  StoredProcedure [dbo].[Sproc_CRUD_Visit]    Script Date: 4/13/2021 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***********************************************************************************************************
 * Developer: William Martin
 * Last modification: 03/19/2021
 * Store Proc name: Sproc_CRUD_Visit 
 * Function: Store Procedure used to manage data persistence (Insert, Update, Delete) in the Visit table.
 * Company: AIS - NZ
 * */

CREATE PROCEDURE [dbo].[Sproc_CRUD_Visit]
	@IdVisit int,			     
	@IdUser int,		
	@oper char(3),		
	@P_Mensaje    nchar(300) output
AS

BEGIN
	
SET NOCOUNT ON;
DECLARE @sqlStr varchar(200)
DECLARE @sqlSetStr varchar(50)
DECLARE @Id_Visit int
BEGIN TRY
 SET @P_Mensaje = '0'
	Begin Tran	

	IF(@oper='INS')
	 BEGIN
	 --   SELECT @Id_Visit=U.IdVisit FROM Visit U WHERE U.name=@name 
		--IF(@Id_Visit>0)
		--  BEGIN	 
		--   RAISERROR('Visit with name already used, please change it. Operation not performed.', 16, 1)
		--   RETURN
		--  END

		--ELSE
		  --BEGIN
		    INSERT INTO Visit ([IdUser])
			 VALUES
             (@IdUser)
			 SELECT @Id_Visit= max(IdVisit) FROM Visit U WHERE U.[IdUser]=@IdUser
			 SET @P_Mensaje = '0;'+CONVERT(varchar(10),@Id_Visit)
		  --END
	 END

	ELSE IF(@oper='UPD')
	 BEGIN
	 --   SELECT @Id_Visit=U.IdVisit FROM Visit U WHERE U.name=@name and U.IdVisit<>@IdVisit
		--IF(@Id_Visit>0)
		--  BEGIN	 
		--   RAISERROR('Visit with name already used, please change them. Operation not performed.', 16, 1)
		--   RETURN
		--  END

		--ELSE
		  BEGIN
		    Update U  SET [IdUser]=@IdUser
			FROM Visit U WHERE U.IdVisit=@IdVisit	
			SET @P_Mensaje = '0;'	 
		  END
	 END

	 ELSE IF(@oper='DEL')
	    BEGIN
	      DELETE FROM Visit  WHERE IdVisit=@IdVisit
		END	

	 Commit Tran
END TRY 
BEGIN CATCH 
	 SET @P_Mensaje = '1;' + ERROR_MESSAGE()
	 Rollback Tran
END CATCH		
Return
END
GO
/****** Object:  StoredProcedure [dbo].[Sproc_ResetPassword]    Script Date: 4/13/2021 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***********************************************************************************************************
 * Developer: William Martin
 * Last modification: 06/04/2021
 * Store Proc name: Sproc_ResetPassword 
 * Function: Store Procedure used to manage password change requests in the ResetPasswordRequests table.
 * Company: AIS - NZ
 * */


CREATE proc [dbo].[Sproc_ResetPassword]
@email nvarchar(100),
@P_Mensaje    nchar(300) output
as
Begin
 Declare @IdUser int
 Declare @userName varchar(100)

BEGIN TRY 
 SET @P_Mensaje = '0'
 Select @IdUser = IdUser , @userName= name +' '+ lastName
 from UserWeb
 where Email = @email 
 
 if(@IdUser IS NOT NULL)
 Begin
  --Verify if the  username exists
  Declare @GUID UniqueIdentifier
  Set @GUID = NEWID()
  
  --Delete any previous request and generate other new one
  Delete from ResetPasswordRequests where IdUser=@IdUser

  --Insert the request
  Insert into ResetPasswordRequests
  (IdReset, IdUser)
  Values(@GUID, @IdUser)
  
  Select 1 as ReturnCode, @GUID as UniqueId, @userName as userName
 End
 Else
 Begin
  --If username does not exist
  SELECT 0 as ReturnCode, NULL as UniqueId, NULL as userName
  SET @P_Mensaje = '1; User does not exist.' 
 End
END TRY 
BEGIN CATCH 
	 SET @P_Mensaje = '1;' + ERROR_MESSAGE()
	 Rollback Tran
END CATCH		
Return
END
GO
/****** Object:  StoredProcedure [dbo].[Sproc_UPD_Pass_User]    Script Date: 4/13/2021 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/***********************************************************************************************************
 * Developer: William Martin
 * Last modification: 03/19/2021
 * Store Proc name: Sproc_UPD_Pass_User 
 * Function: Store Procedure used to update the user password in the UserWeb table.
 * Company: AIS - NZ
 * */

CREATE PROCEDURE [dbo].[Sproc_UPD_Pass_User]
	@email varchar(80),     
	@pass varchar(60),	
	@salt varchar(36),	
	@P_Mensaje    nchar(300) output
AS

BEGIN
	
SET NOCOUNT ON;
DECLARE @sqlStr varchar(200)
DECLARE @sqlSetStr varchar(50)
DECLARE @Id_User int
BEGIN TRY
 SET @P_Mensaje = '0'
	Begin Tran	

	
	 BEGIN
	    SELECT @Id_User=U.IdUser FROM UserWeb U WHERE (U.email=@email) 
		IF(not(@Id_User>0))
		  BEGIN	 
		   RAISERROR('User does not exist for this E-mail, please change it. Operation not performed.', 16, 1)
		   RETURN
		  END

		ELSE
		  BEGIN
		    UPDATE U  SET [pass]= HASHBYTES('SHA2_512', @pass+CAST(@salt AS NVARCHAR(36)))
			FROM UserWeb U WHERE U.IdUser=@Id_User	
			SET @P_Mensaje = '0;'+CONVERT(varchar(10),@Id_User)

			--Delete current password change request 
			Delete from ResetPasswordRequests where IdUser=@Id_User
		  END
	 END

	

	 Commit Tran
END TRY 
BEGIN CATCH 
	 SET @P_Mensaje = '1;' + ERROR_MESSAGE()
	 Rollback Tran
END CATCH		
Return
END
GO
/****** Object:  Table [dbo].[CarItem]    Script Date: 4/13/2021 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarItem](
	[IdCarItem] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdProduct] [int] NOT NULL,
	[quantity] [int] NOT NULL CONSTRAINT [DF_CarItem_quantity]  DEFAULT ((1)),
	[price] [decimal](18, 2) NOT NULL CONSTRAINT [DF_CarItem_price]  DEFAULT ((0)),
	[date] [date] NOT NULL CONSTRAINT [DF_CarItem_date]  DEFAULT (getdate()),
 CONSTRAINT [PK_CarItem] PRIMARY KEY CLUSTERED 
(
	[IdCarItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 4/13/2021 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[IdCategory] [int] IDENTITY(1,1) NOT NULL,
	[name] [char](100) NOT NULL CONSTRAINT [DF_Category_Name]  DEFAULT ('Client'),
	[date] [datetime] NOT NULL CONSTRAINT [DF_Category_date]  DEFAULT (getdate()),
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[IdCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order]    Script Date: 4/13/2021 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order](
	[IdOrder] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[value] [decimal](18, 2) NOT NULL,
	[payType] [int] NOT NULL CONSTRAINT [DF_Order_payType]  DEFAULT ((1)),
	[date] [datetime] NOT NULL CONSTRAINT [DF_Order_date]  DEFAULT (getdate()),
	[voucher] [varchar](15) NOT NULL,
	[address] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 4/13/2021 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[IdOD] [int] IDENTITY(1,1) NOT NULL,
	[IdOrder] [int] NOT NULL,
	[IdProduct] [int] NOT NULL,
	[quantity] [int] NOT NULL CONSTRAINT [DF_OrderDetail_quantity]  DEFAULT ((0)),
	[price] [decimal](18, 2) NOT NULL CONSTRAINT [DF_OrderDetail_price]  DEFAULT ((0)),
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[IdOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 4/13/2021 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[IdProduct] [int] IDENTITY(1,1) NOT NULL,
	[IdCategory] [int] NOT NULL,
	[name] [varchar](100) NOT NULL,
	[stock] [int] NOT NULL CONSTRAINT [DF_Product_Stock]  DEFAULT ((0)),
	[color] [varchar](30) NOT NULL CONSTRAINT [DF_Product_color]  DEFAULT ('Black'),
	[brand] [varchar](40) NOT NULL CONSTRAINT [DF_Product_brand]  DEFAULT ('Gucci'),
	[size] [varchar](20) NOT NULL CONSTRAINT [DF_Product_size]  DEFAULT ('Medium'),
	[photo] [nvarchar](50) NOT NULL CONSTRAINT [DF_Product_photo]  DEFAULT (N'nophoto.jpg'),
	[photoD] [nvarchar](50) NOT NULL CONSTRAINT [DF_Product_photoD]  DEFAULT (N'nophoto.jpg'),
	[price] [decimal](18, 2) NOT NULL CONSTRAINT [DF_Product_Price]  DEFAULT ((0)),
	[discount] [decimal](18, 2) NOT NULL CONSTRAINT [DF_Product_discount]  DEFAULT ((0)),
	[date] [date] NOT NULL CONSTRAINT [DF_Product_date]  DEFAULT (getdate()),
	[monthDcto] [int] NOT NULL CONSTRAINT [DF_Product_monthDcto]  DEFAULT ((0)),
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[IdProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ResetPasswordRequests]    Script Date: 4/13/2021 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResetPasswordRequests](
	[IdReset] [uniqueidentifier] NOT NULL,
	[IdUser] [int] NOT NULL,
	[dateRequest] [date] NOT NULL CONSTRAINT [DF_ResetPasswordRequests_dateRequest]  DEFAULT (getdate()),
 CONSTRAINT [PK_ResetPasswordRequests] PRIMARY KEY CLUSTERED 
(
	[IdReset] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserWeb]    Script Date: 4/13/2021 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserWeb](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[type] [char](10) NOT NULL,
	[name] [varchar](60) NOT NULL,
	[lastName] [varchar](60) NOT NULL,
	[email] [varchar](80) NOT NULL,
	[phone] [nchar](15) NOT NULL,
	[address] [varchar](20) NOT NULL,
	[pass] [binary](64) NULL,
	[date] [datetime] NOT NULL CONSTRAINT [DF_User_date]  DEFAULT (getdate()),
	[state] [varchar](10) NOT NULL CONSTRAINT [DF_UserWeb_state]  DEFAULT ('Pending'),
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Visit]    Script Date: 4/13/2021 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visit](
	[IdVisit] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[date] [date] NOT NULL CONSTRAINT [DF_Visit_date]  DEFAULT (getdate()),
 CONSTRAINT [PK_Visit] PRIMARY KEY CLUSTERED 
(
	[IdVisit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CarItem]  WITH CHECK ADD  CONSTRAINT [FK_CarItem_Product] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([IdProduct])
GO
ALTER TABLE [dbo].[CarItem] CHECK CONSTRAINT [FK_CarItem_Product]
GO
ALTER TABLE [dbo].[CarItem]  WITH CHECK ADD  CONSTRAINT [FK_CarItem_UserWeb] FOREIGN KEY([IdUser])
REFERENCES [dbo].[UserWeb] ([IdUser])
GO
ALTER TABLE [dbo].[CarItem] CHECK CONSTRAINT [FK_CarItem_UserWeb]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[UserWeb] ([IdUser])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[Order] ([IdOrder])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([IdProduct])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([IdCategory])
REFERENCES [dbo].[Category] ([IdCategory])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[ResetPasswordRequests]  WITH CHECK ADD  CONSTRAINT [FK_ResetPasswordRequests_UserWeb] FOREIGN KEY([IdUser])
REFERENCES [dbo].[UserWeb] ([IdUser])
GO
ALTER TABLE [dbo].[ResetPasswordRequests] CHECK CONSTRAINT [FK_ResetPasswordRequests_UserWeb]
GO
ALTER TABLE [dbo].[Visit]  WITH CHECK ADD  CONSTRAINT [FK_Visit_UserWeb] FOREIGN KEY([IdUser])
REFERENCES [dbo].[UserWeb] ([IdUser])
GO
ALTER TABLE [dbo].[Visit] CHECK CONSTRAINT [FK_Visit_UserWeb]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1.Visa, 2.American, 3.Master, 4.Discover' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'payType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Client-Admin' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UserWeb', @level2type=N'COLUMN',@level2name=N'type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Active, Inactive, Pending' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UserWeb', @level2type=N'COLUMN',@level2name=N'state'
GO
