* {
    font-family: 'Jura','Cinzel', sans-serif;
}

.logoMaster {
    width ="100%";
    height="auto";
}

.foot {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}
.cover {
    display: flex;
    /*align-items: center;*/
    background-color: #f1f1df; 
    /*height: 50px;*/
    width: 100%;
}
.center {
    text-align: center;
    flex: 4 1 auto;
    align-self: center;
}
.child {
    align-self: center;
    flex: 4 1 auto;
}

.imagen {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/accesso.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.imagen1 {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/Carteras.jpg");
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.imagen2 {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/Disenovzlano.jpg");
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.imagen3 {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/accesso.jpg");
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.imagen4 {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/config.jpg");
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bannerMain {
    width : 660px ;
    height: 345px;
}

.bannerProduct {
    width: 660px;
    height: 175px;
}

/*Products*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*max-width: 300px;*/
    width: 600px;
    height: 150px;
    margin: auto;
    text-align: left;
    font-family: arial;
    display: flex;
    align-items: center;
    /*flex-flow: column nowrap*/
    
    overflow: hidden;
}
    .card img {
        /*width: 90%;
        height: 80%;
        margin-left: 5px;*/
        height: 150px;
        width: auto;
    }
    .price {
    color: green;
    
}

/* Manage colors for price and discount;*/
.priceDcto {
    visibility: visible;
    color: green;
}
.priceCDcto {
    color: red;
    text-decoration: line-through;
}
.priceSDcto {
    visibility: hidden;
}
.card button {
    /* border: none;
    outline: 0;
   padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    
    width: 70%;
    font-size: 18px;*/
    cursor: pointer;
}

    .card button:hover {
        opacity: 0.7;
    }
.cardNode1 {
    flex: 1 1 auto;
    width: 39%;
    text-align: center !important;
}

.cardNode2 {
    flex: 1 1 auto;
    width: 70%;
}

/*Products Modal*/
.cardM {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*max-width: 300px;*/
    width: 100%;
    height: auto;
    margin: auto;
    text-align: left;
    font-family: arial;
    display: flex;
    align-items: center;
    /*flex-flow: column nowrap
    overflow: hidden;*/
}

    .cardM img {
        width: 90%;
        height: 80%;
        margin-left: 5px;
    }

.cardNodeM2 {
    flex: 1 1 auto;
    width: 80%;
}

.firstLetter {
    text-transform:capitalize;
}

/*To messages in Insert and Update Forms*/
.MessagePanelDiv {
    position: fixed;
    left: 35%;
    top: 15%;
    width: 35%;
}
.hidepanel {
    display: none;
}

.file-upload {
    /*display: flex;
    overflow: hidden;
    position: relative;
         

    */
    text-align: center !important;
    vertical-align: top;
    background: #D5D5D5;
    margin-bottom: 22px;
    width:auto;
}
#mensaje {
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-center {
    text-align: center;
}

/*Spinner nuevo y antiguo*/
/*.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

 

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}*/

#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 9999;
    display: none;
}

.cursorImg {
    cursor: pointer;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top-color: transparent;
    border-left-color: #09f;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

/*Password instructions:*/
.iconDesc {
    display: none;
}



/*Espaciador de numeros de pagina de Gridview*/
.cssPager td {
    padding-left: 16px;
    padding-right: 16px;
}

/*Header Client products*/
.izq {
    float: left;
    width: 30%;
}
.centro {
    float: left;
    width: 50%;
    overflow: hidden;
}
.der {
    float: left;
    width: 20%;
}

.medio {
    float: left;
    width: 100%;
    align-items: center;
}

/*Other devices  Form1*/
.formsMaster {
    margin-top: 50px;
}
@media screen and (max-width: 590px) {
    .formsMaster {
        margin-top: 85px;
    }
}
@media screen and (min-width: 661px) and (max-width: 1199px) {
    .formsMaster {
        margin-top: 100px;
    }
}



/* Client */
.bannerClient {
    align-items: center;
    text-align: center;   
    width: 100%;
}





/*Other devices  Banner Image*/

@media screen and (max-width: 549px) {
    .formsMaster {
        margin-top: 64px;
    }
    .rowInfo {
        margin-top: 38px !Important;
    }
    .logoMaster {
        width: "50%" !Important;
        height: "auto" !Important;
    }
}
@media screen and (min-width: 550px) and (max-width: 590px) {
    .formsMaster {
        margin-top: 61px;
    }
}
@media screen and (min-width: 591px) and (max-width: 660px) {
    .bannerProduct {
        margin-top: 60px;
    }
}
@media screen and (min-width: 765px) and (max-width: 991px) {
    .bannerProduct {
        margin-top: 18px;
    }
}
@media screen and (max-width: 540px) {
    /*Bag.aspx Car.aspx*/
    .card {
        width: 330px;
        height: 180px;
    }

    .container {
        width: 358px !important;
    }

    /*Orders*/
    .table {
        width: 358px !important;
        overflow-x: auto;
        overflow-y: auto;
    }

    /*Registers pages*/
    .imgRegister {
        height: auto;
    }
    .Divframe {
        height:270px !important;
    }
    /*About page*/    
    .DivAboutframe {
        height: 270px !important;
    }}