body {
    min-height: 100vh;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    color: rgba(116, 116, 116, 0.667);
    background: linear-gradient(140deg, #fff, 50%, #e3e491);
}

.container-fluid {
    margin-top: 200px
}

p {
    font-size: 14px;
    margin-bottom: 7px
}

.small {
    letter-spacing: 0.5px !important
}

.card-1 {
    box-shadow: 2px 2px 10px 0px rgb(224 184 71);
}

hr {
    background-color: rgba(248, 248, 248, 0.667)
}

.bold {
    font-weight: 500
}

.change-color {
    color: #eaec56 !important;
}

.card-2 {
    box-shadow: 1px 1px 3px 0px rgb(112, 115, 139)
}

.fa-circle.active {
    font-size: 8px;
    color: #AB47BC
}

.fa-circle {
    font-size: 8px;
    color: #aaa
}

.rounded {
    border-radius: 2.25rem !important
}

.progress-bar {
    background-color: #e0b847 !important;
}

.progress {
    height: 5px !important;
    margin-bottom: 0
}

.invoice {
    position: relative;
    top: -70px
}

.Glasses {
    position: relative;
    top: -8px !important
}

.card-footer {
    background-color: #e7e897;
    color: #fff;
}

h2 {
    color: rgb(119 125 22);
    letter-spacing: 2px !important;
}

.display-3 {
    font-weight: 500 !important
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
    text-align:center;
}
.f1 {
    width: 33%;    
}


@media (max-width: 479px) {
    .invoice {
        position: relative;
        top: 7px
    }

    .border-line {
        border-right: 0px solid rgb(226, 206, 226) !important
    }
}

@media (max-width: 700px) {
    h2 {
        color: rgb(78, 0, 92);
        font-size: 17px
    }

    .display-3 {
        font-size: 28px;
        font-weight: 500 !important
    }
}

.card-footer small {
    letter-spacing: 7px !important;
    font-size: 12px
}

.border-line {
    border-right: 1px solid rgb(226, 206, 226)
}
