.car {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*max-width: 300px;*/
    width: 700px;
    height: 90px;
    margin: auto;
    text-align: left;
    font-family: arial;
    display: flex;
    align-items: center;
    /*flex-flow: column nowrap*/
    /*overflow: auto;*/
}

    .car img {
        height: 50px;
        width: auto;
    }

.car button:hover {
    opacity: 0.7;
}

.carNode1 {
    flex: 1 1 auto;
    width: 8%;
    text-align: center !important;
   
}

.carNode2 {
    flex: 1 1 auto;
    width: 40%;
}

.carNode3 {
    flex: 1 1 auto;
    text-align: center !important;
    width: 5%;
}
.carNode4 {
    flex: 1 1 auto;
    text-align: center !important;
    width: 12%;
}
.carNode2 span {
    padding-bottom: 12px;
    padding-right: 4px;
}

.itemCarQty {
    font-size: smaller;   
}
.buttons {
    display: flex;
    width: 100%;
}